div:hover {
    background-color: darkblue;
    max-width: 140px;
    line-height: 30px;
    padding: 10px 100px;
    border-radius: 40%;
}

div:nth-last-of-type(1) {
    color: darkgreen;
    
}

div:nth-last-of-type(2) {
    color: gold;
    
}

div:nth-last-of-type(3)  {
    color: hotpink;
    font-size: 20px;
    
}

div:nth-last-of-type(4) {
    color: red
}   

div:nth-last-of-type(5) {
    color: orange;
    
}
 div:nth-child(2n+1) {
     font-style: italic;
 }

